[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flasgger = "*"
flask-restful = "*"
flask-migrate = "*"
python-dotenv = "*"
autopep8 = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.11"
